<div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
  <p class="titulo-podcast">The Hoy Trasnoche Holiday Special</p>
  <img
    src="../assets/images/hoytrasnoche-chica.png"
    type="image/png"
    alt="Logo Hoy Trasnoche"
  />
  <div class="media" itemscope itemtype="">
    <audio
      itemprop="audio"
      src="https://cdn.transistor.fm/file/transistor/m/shows/15168/de660ed5004b25e0054d6223b2f0abf2.mp3"
      controls
    ></audio>
  </div>
  <p class="datos-podcast">
    <span itemprop="datePublished" datetime="2020-12-24">24 dic. 2020</span>
    <span itemprop="timeRequired" datetime="PT61M"> · 61min.</span>
  </p>
</div>
