<section class="section-portada">
  <div>
    <img
      src="../assets/images/hoytrasnoche-portada.jpeg"
      alt="Logo Hoy Trasnoche"
      id="img-grande"
    />
  </div>
  <div class="texto-portada">
    <h1>
      <span id="titulo" class="titulo-bajada">HOY TRASNOCHE</span> no es otro
      podcast de cine.
      <span class="titulo-bajada">Es “el otro” podcast de cine.</span>
    </h1>
    <h3>
      <span class="titulo-bajada">Filme junto al pueblo,</span><br />
      para quienes saben que hay mucho más que los estrenos de la semana.
    </h3>

    <div class="media-port" itemscope itemtype="">
      <p id="text-btn">ESCUCHÁ NUESTRO TOP 10 DEL 2020:</p>
      <audio
        itemprop="audio"
        src="https://cdn.transistor.fm/file/transistor/m/shows/15168/140b4a6d0347c888cba7dbe54e128c28.mp3"
        controls
      ></audio>
    </div>
  </div>
</section>
