<app-header></app-header>
<section id="container">
  <app-hero></app-hero>
  <section class="section-cards">
    <div class="titulo-cards">
      <h2>Últimos episodios emitidos:</h2>
    </div>

    <div class="cards" itemscope itemtype="https://schema.org/PodcastSeries">
      <app-card></app-card>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">Para vos las fiestas son como Tinder</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/68f672af53304f8098eee765bfab9c3a/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-12-17"
            >17 dic. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT56M"> · 56min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">A todos nos puede aparecer un hermano</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/404c15a8b0514576936f96b79129ea31/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-12-10"
            >10 dic. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT44M"> · 44min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">El Ventura de Welles</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/e83c8defa82e47b4b62f919592b544ec/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-12-04"
            >04 dic. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT65M"> · 65min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">AGNOROP YOH</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/7fb481a6b75d4fb897a514a9ac0200ff/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-12-03"
            >03 dic. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT37M"> · 37min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">El episodio Mel Gibson</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/0984d9c784f8416d91169ccaa4c2e2a4/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-11-26"
            >26 nov. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT60M"> · 60min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">Bacheo y repavimentación</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/8d5a5fe16fd54df18b8e38f21e16917f/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-11-19"
            >19 nov. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT59M"> · 59min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">Never go full Santiago del Estero</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/c54b02a80f52400cb41b2022f37a727a/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-10-29"
            >29 oct. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT58M"> · 58min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">El glory hole de Hoy Trasnoche</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/c97d660f13e944b9bf099ee1fbb9e331/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-10-22"
            >22 oct. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT60M"> · 60min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">ACÁ VA EL TÍTULO</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/cab10e30663e4d4f9b1d7616a13e944d/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-10-08"
            >08 oct. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT70M"> · 70min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">Uf, qué fuerte, man</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/ba032c67d9174e20a23d27aa702e1ebd/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-10-01"
            >01 oct. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT54M"> · 54min.</span>
        </p>
      </div>

      <div class="card" itemscope itemtype="https://schema.org/PodcastEpisode">
        <p class="titulo-podcast">Cuando Cristian U termine la facultad</p>
        <img
          src="../assets/images/hoytrasnoche-chica.png"
          type="image/png"
          alt="Logo Hoy Trasnoche"
        />
        <div class="media" itemscope itemtype="">
          <audio
            itemprop="audio"
            src="https://www.listennotes.com/e/p/12f68f24f67d4038bcbbec3b0edb402e/"
            controls
          ></audio>
        </div>
        <p class="datos-podcast">
          <span itemprop="datePublished" datetime="2020-09-24"
            >24 sep. 2020</span
          >
          <span itemprop="timeRequired" datetime="PT58M"> · 58min.</span>
        </p>
      </div>
    </div>
  </section>
</section>

<footer>
  <p>Hoy Trasnoche Podcast -</p>
  <p>Un podcast original de <a href="https://www.posta.fm/">Posta.fm</a></p>
</footer>
